<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CodingArea</title>
</head>
<body>
    {{>navbar}}
    <section class="main-photo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Welcome To Coding Topics</h2>
                    <p>As the placement season is back so are we to help you ace the interview. Here are some important topics and their frequently asked questions in the interview</p>
                </div>
            </div>
        </div>
    </section>


    <section id="important-topics">
    <h1 class="display-4">Important Topics</h1>
<div class="row">
    <div class="important-col col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Maths</h3>
            </div>
            <div class="card-body">
                <h4>Easy</h4>
                    <p>Missing Number in Array</p>
                    <p>Trailing Zeros in Factorial</p>
                    <p>Factorial Of Number</p>
                    <p>Modular Multiplicative Inverse</p>
                <h4>Medium</h4>
                    <p>A simple fraction</p>
                    <p>Nth Natural Number</p>
                    <p>Smallest Positive Integer that can not be represented as Sum</p>
            </div>
        </div>
    </div>

    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Array</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Max and Second Max</p>
                <p>Frequencies of Limited Range Array Elements</p>
                <p>Equilibrium Point</p>
                <p>Leaders in Array</p>
            <h4>Medium</h4>
                <p>Rearrange Array Alternately</p>
                <p>Trapping Rain Water</p>
                <p>Stock buy and sell</p>
                <p>Kadane's Algorithm</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3>Searching</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Count 1's in binary array</p>
                <p>Majority Element</p>
                <p>Peak element</p>
                <p>Floor in a Sorted Array</p>
                <p>Left most and right most index</p>
            <h4>Medium</h4>
                <p>Square root of a number</p>
                <p>Smallest Positive missing number</p>
                <p>Count More than n/k Occurences</p>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Sorting</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Union of Two Sorted Arrays</p>
                <p>Intersection of two sorted arrays</p>
                <p>Three way partitioning</p>
            <h4>Medium</h4>
                <p>Count Inversions</p>
                <p>Count the number of possible triangles</p>
                <p>Minimum Platforms</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Matrix</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Boundary traversal of matrix</p>
                <p>Exchange matrix columns</p>
                <p>Reversing the columns of a Matrix</p>
            <h4>Medium</h4>
                <p>Search in a row-column sorted Matrix</p>
                <p>Spirally traversing a matrix</p>
                <p>Rotate matrix by 90 degrees</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3>Stack</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Parenthesis Checker</p>
                <p>Infix to Postfix</p>
                <p>Remove K digits</p>
            <h4>Medium</h4>
                <p>Next Larger Element </p>
                <p>Maximum Rectangular Area in a Histogram </p>
                <p>The Celebrity Problem</p>
                <p>Stock span problem</p>
        </div>
    </div>
</div>
</div>


<div class="row">
    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Linked List</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Delete without head pointer</p>
                <p>Remove duplicate element from sorted Linked and unsorted list</p>
                <p>Nth node from end of linked list</p>
                <p>Detect Loop in linked list</p>
            <h4>Medium</h4>
                <p>Merge two sorted linked lists</p>
                <p>Check if Linked List is Palindrome</p>
                <p>Rotate a Linked List</p>
                <p>Remove loop in Linked List</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Hashing</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Positive Negative Pair</p>
                <p>Winner of an election</p>
                <p>Subarray with 0 sum</p>
            <h4>Medium</h4>
                <p>Zero Sum Subarrays</p>
                <p>Subarrays with equal 1s and 0s</p>
                <p>Sort an array according to the other</p>
                <p>Sorting Elements of an Array by Frequency</p>
                <p>Longest consecutive subsequence</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3>String</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Reverse words in a given string</p>
                <p>Longest Common Prefix</p>
                <p>Anagram</p>
                <p>Non Repeating Character</p>
            <h4>Medium</h4>
                <p>Next higher palindrome number using the same set of digits</p>
                <p>Look and say Pattern</p>
                <p>Smallest window in string containing all characters</p>
                <p>Rabin Karp - Pattern Searching</p>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Queue</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Queue using two Stacks</p>
                <p>Reverse First K elements of Queue</p>
                <p>Stack using two queues</p>
                <p>Implement Queue using Linked List</p>
            <h4>Medium</h4>
                <p>Maximum of all subarrays of size K</p>
                <p>Circular Tour</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Heap</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Minimum Cost of ropes</p>
                <p>Rearrange Characters</p>
                <p>Kth largest element</p>
            <h4>Medium</h4>
                <p>Kth largest element of stream</p>
                <p>Merge k sorted arrays</p>
                <p>Medain of Stream</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3>Binary Tree</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Symmetric Tree</p>
                <p>Minimum depth of binary tree</p>
                <p>Checked for Balanced tree</p>
                <p>Zigzag Tree Traversal</p>
            <h4>Medium</h4>
                <p>Vertical Traversal of a Binary Tree</p>
                <p>Construct Binary Tree from Preorder and Inorder Traversal</p>
                <p>Sum tree</p>
                <p>Lowest Common Ancestor of a Binary Tree</p>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>BST</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Check for BST</p>
                <p>Kth Largest Element in a BST</p>
                <p>Inorder Successor in BST</p>
                <p>Array to BST</p>
            <h4>Medium</h4>
                <p>Remove BST keys outside the given range</p>
                <p>Preorder Traversal and BST</p>
                <p>Unique BSTs</p>
                <p>Pair with given target in BST</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Greedy</h3>
            </div>
            <div class="card-body">
                <h4>Easy</h4>
                    <p>Activity Selection</p>
                    <p>N meetings in one room</p>
                    <p>Largest number with given sum</p>
                <h4>Medium</h4>
                    <p>Fractional Knapsack</p>
                    <p>Job Sequencing Problem</p>
                    <p>Coin Piles</p>
                    <p>Minimize the heights</p>
            </div>
        </div>
    </div>


    <div class="important-col col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3>Graph</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Number of Islands</p>
                <p>Shortest Path</p>
                <p>Detect Cycle in an Undirected Graph</p>
                <p>Detect Cycle in Directed Graph</p>
            <h4>Medium</h4>
                <p>Topological Sort</p>
                <p>Minimum Spanning Tree</p>
                <p>Dijkstra's Shortest Path</p>
                <p>Strongly Connected Component</p>
                <p>Snake and Ladder Problem</p>
        </div>
    </div>
    </div>

</div>


<div class="row">
    <div class="important-col col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Backtracking</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Permutations</p>
                <p>Generate Parentheses</p>
                <p>Rat Maze With Multiple Jumps</p>
            <h4>Medium</h4>
                <p>Largest number in K swaps</p>
                <p>Unique Subsets</p>
                <p>M-Coloring Problem</p>
                <p>Combination Sum</p>
        </div>
    </div>
    </div>

    <div class="important-col col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Recursion</h3>
            </div>
           <div class="card-body">
                <h4>Easy</h4>
                    <p>Number of Paths</p>
                    <p>Josephus problem</p>
                    <p>Pascals Triangle</p>
                <h4>Medium</h4>
                    <p>Special Keyboard</p>
                    <p>Flood Fill Algorithm</p>
                    <p>Possible Words From Phone Digits</p>
                    <p>Tower of Hanoi</p>
            </div>
        </div>
    </div>


    <div class="important-col col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3>DP</h3>
        </div>
        <div class="card-body">
            <h4>Easy</h4>
                <p>Count ways to reach the n’th stair</p>
                <p>Nth Fibonacci Number</p>
                <p>Get Minimum Squares</p>
            <h4>Medium</h4>
                <p>0 – 1 Knapsack Problem</p>
                <p>Edit distance</p>
                <p>Longest Common Substring</p>
                <p>Longest Palindromic Substring</p>
                <p>Longest Increasing Subsequence</p>
                <p>Box Stacking</p>
                <p>Maximize The Cut Segments</p>
        </div>
    </div>
    </div>
</div>
</section>


<section class="footer">
    <h2>© Copyright 2021</h2>
</section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>